/* Formatos para componentes comunes */

/* Formato para las combinaciones label input */
.formatoLabelInput {
    margin: 15px 10px;
}

/* Formato para los input */
.formatoInput {
    background-color: 60a7e7;
    border: 1px solid 60a7e7;
    min-height: 40px;
    margin: 10px;
}

/* Formato para el botón */
.formatoBoton {
    height: 35px;
    width: 90px;
    color: #000;
    font-family: Garamond;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 10px;
}