/* Formato complementario para la tabla de datos */

.formatoTabla {
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 5px; 
}

tr {
    border-radius: 5px;
    min-height: 10px;
    font-size: bold;
}

tr th {
    width: 50px;
    border-radius: 5px;
}

.piePagina {
    margin-bottom: 250px;
    padding-bottom: 150px;
}

.piePagina1 {
    margin-bottom: 150px;
}

.piePagina2 {
    margin-bottom: 50px;
    padding-bottom: 50px;
}


/* Formato botón para eliminar un producto del listado del pedido. */
#miTabla {
  width: 100%;
  table-layout: fixed;
}


/* Distribuir de manera equitativa las columnas de la tabla */
#miTabla th,
#miTabla td {
  width: 20%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.btnEliminar {
  padding: 4px 8px;
  font-size: 0.8rem;
  max-width: 100%;
  box-sizing: border-box;
}