/* Formato del contenedor principal */

.formatoActualizar {
    background-color: #FFF;
    width: 98.5%;
    margin: 3px 11px;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {

   .formatoActualizar {
    background-color: #FFF;
    width: 97.9%;
    margin: 3px 11px;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    }    
}

@media screen and (max-width: 768px) {

   .formatoActualizar {
    background-color: #FFF;
    width: 97.1%;
    margin: 3px 11px;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    }    
}

@media screen and (max-width: 425px) {

   .formatoActualizar {
    background-color: #FFF;
    width: 95%;
    margin: 3px 11px;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    }    
}

.formatoActualizarCliente input{
    margin-bottom: 6px;
    border: none;
    background-color: #C4D4F5;

    font-family: Garamond;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.formatoActualizar select{
    background-color: #C4D4F5;
}

.formatoBoton {
    margin-top: 30px;
}

.formatoBoton1 {
    margin-top: 40px;
}


